<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>fragment demo</title>
	</head>
	
	<body>
		<p>=========================th:insert==============================</p>
		<footer id="host-footer" th:insert="single-page::footer1">
			<h1>This is the footer</h1>
		</footer>
		<br/>
		
		<p>=========================th:replace==============================</p>
		<footer id="host-footer" th:replace="single-page::footer1">
			<h1>This is the footer</h1>
		</footer>
		<br/>
		
		<p>=========================th:include==============================</p>
		<footer id="host-footer" th:include="single-page::footer1">
			<h1>This is the footer</h1>
		</footer>
	</body>
</html>